/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
:root {
  font-size: 62.5%;
}
@media (max-width: 500px) {
  :root {
    font-size: 50%;
  }
}
.home-section {
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg-abstract.jpg');
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.active {
  color: #fff;
}
nav {
  position: fixed;
  background: #424b54;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 5%;
  align-self: flex-start;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  nav {
    width: 100%;
    height: 50px;
    flex-direction: row;
    bottom: 0;
  }
}
nav a {
  color: #e59301;
  font-size: 3em;
  transition: 0.3s ease-in;
}
nav a:hover {
  color: #fff;
}
.home-content {
  color: #fff;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-content div {
  text-align: center;
}
.home-content div h1 {
  font-size: 8em;
  padding: 10px;
}
.home-content div h1 span {
  color: #e59301;
  font-family: 'Wendy One', sans-serif;
}
.home-content div p {
  font-size: 3em;
  margin-bottom: 2em;
  line-height: 1.3;
}
@media (max-width: 500px) {
  .home-content div p {
    font-size: 2em;
    margin-bottom: 1em;
  }
}
.home-content div .home-button {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 0.5em 2em;
  font-size: 3em;
  border-radius: 5px;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
}
.home-content div .home-button:hover {
  background-color: #e59301;
}
@media (max-width: 500px) {
  .home-content div .home-button {
    font-size: 2em;
  }
}
@keyframes blink {
  0% {
    opacity: 0.5;
  }
  49% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
.home-content div .home-button span {
  margin-left: 5%;
  animation: blink 1s ease infinite alternate;
}
.contact-icons {
  margin: 5% 0;
  padding: 10px;
}
.contact-icons a {
  font-size: 3.5em;
  color: #fff;
  padding: 10px;
  transition: 0.4s ease-out;
}
.contact-icons a:hover {
  color: #e59301;
}
.main-section {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  margin-bottom: 50px;
  font-size: 2em;
  color: #808080;
}
.main-section .container {
  max-width: 650px;
}
@media (max-width: 500px) {
  .main-section .container {
    width: 100%;
    padding: 0 10px;
  }
}
.main-section header {
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  padding: 10px;
  color: white;
  background-color: #424b54;
}
.main-section h2 {
  font-size: 2.5em;
  padding-bottom: 5px;
  font-weight: 500;
}
.main-section section {
  padding-top: 50px;
}
@media (max-width: 500px) {
  .main-section section {
    padding-top: 35px;
  }
}
.content h3 {
  font-size: 1.2em;
  padding: 10px 0;
  text-decoration: underline;
}
.content p {
  line-height: 1.5;
  text-align: justify;
}
.content strong {
  font-weight: 600;
}
.skills-list {
  display: flex;
  flex-direction: column;
}
.skills-list li {
  padding: 10px 0;
  line-height: 1.5;
}
.skills-list li span {
  margin-left: 10px;
}
.project {
  display: flex;
  margin: 20px 0;
}
.project .image {
  width: 30%;
}
.project img {
  max-width: 100%;
}
.project article {
  width: 70%;
  padding: 0 3%;
}
.project article .inner h4 {
  color: #808080;
  text-decoration: underline;
}
.project article .inner h4 a {
  padding-left: 10px;
}
.content-list {
  list-style: circle;
  margin-left: 22px;
}
.content-list li {
  padding: 10px 0;
  line-height: 1.5;
}
footer {
  padding-top: 100px;
  text-align: center;
  bottom: 0;
  font-size: 0.8em;
  color: #808080;
}
