@import "reset";

// variables
//colors
@shaddy-blue: #424b54;
@back-petal: #e59301;
@pure-white: #fff;


//Desktop fonts
@small-font: 3em;

//breakpoints 
@mobile-breakpoint: 500px;

:root {
	font-size: 62.5%;
	
	@media (max-width: @mobile-breakpoint){
		font-size: 50%;
	} 
}


.home-section {
  width: 100%;
  height: 100vh;
  background-image: url('../images/bg-abstract.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  color: @pure-white;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  background: @shaddy-blue;
  height: 100%;
	width: 5%;
	align-self: flex-start;
  align-items: center;
	justify-content: space-around;
	
	@media (max-width: @mobile-breakpoint) {
	 width: 100%;
	 height: 50px;
	 flex-direction: row;
	 bottom: 0;
	}

  a {
    color: @back-petal;
    font-size: @small-font;
    transition: 0.3s ease-in;

    &:hover {
      .active;
    }
  }
}